*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

body{
    min-height:100vh;
    background-color:black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#education{
    height:100vh;
    width:100%;
}

.c1{
    font-size:40px;
} 
.ic1{
    margin-right:5px;
}

nav{
    height:50px;
    width:100%;
    background-color:black;
    display: flex;
    align-items: center;
    padding:30px;
}

.links-container{
    height:100%;
    width:100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav a{
    height:100%;
    padding:0 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color:white;
}


nav .tit{
    margin-right: auto;
    color: white;
}

nav .iii{
    color:white;
}

#sidebar-active{
    display: none;
}

.open-bar,.close-bar{
    display: none;
}

.homepage{
    height:490px;
    width:100%;
    background-color:seagreen;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.maindiv1>.tcs{
    text-decoration: underline;
    text-underline-offset:5px;
    color:white;
}


.maindiv1{
    height:10%;
    width:100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:black;
}

.maindiv2{
    height:90%;
    width:100%;
    background-color:black;
    display: flex;
    justify-content:space-around;
    align-items: center;
    gap:30px;
    padding:20px;
}

.maindiv2 .div1,.maindiv2 .div2,.maindiv2 .div3{
    height:70%;
    width:80%;
    background:linear-gradient(to right, #05295f, #00bf72);
    color:white;
    font-family: cursive;
    border-radius:20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;
    position: relative;
    padding:10px;
}
.maindiv2 .div1:hover,.maindiv2 .div2:hover,.maindiv2 .div3:hover{
    box-shadow:0px 0px 30px 0px skyblue;
    transform:scale(1.05)
}

.pt{
    height:40px;
    width:40px;
    border-radius:50%;
    background-color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    color:black;
}
.para{
    font-size:12px;
    text-align: center;
    width:80%;
}
.place{
    font-size:12px;
    text-align: center;
}

@media only screen and (min-width:300px) and (max-width:720px) 
{
    .links-container{
        flex-direction: column;
        align-items: flex-start;
        position: fixed;
        top:0;
        right:-100%;
        z-index:10;
        width:300px;
        /* background-color:rgba(255, 255, 255, 0.418); */
        background-color: rgba(0, 0, 0, 0.742);
        box-shadow:-5px 0 5px rgba(0, 0, 0, 0.25);
        transition:0.75s ease-out;
        padding:20px;
    }   
    
    nav a{
        box-sizing: border-box;
        height:auto;
        width:100%;
        padding:20px 30px;
        border-radius:5px;
        justify-content:center;
        background-color: rgba(169, 169, 169, 0.758);
        color: black;
    }

    .open-bar,.close-bar
    {
    padding:20px;
    display:block;
}

    #sidebar-active:checked ~ .links-container{
        right:0;
    }

    #sidebar-active:checked ~ #overlay {
        height:100%;
        width:100%;
        position: fixed;
        top:0;
        left:0;
        z-index:9;
    }

    nav .tit{
        display: none;
}
    
}

@media only screen and (min-width:500px) and (max-width:800px) 
{
    .homepage{
        min-height:1000px;
    }
    .maindiv2{
        display: flex;
        flex-direction: column;
        width:100%;
        padding:20px;
        background-color:black;
    }
    .maindiv2 .div1,.maindiv2 .div2,.maindiv2 .div3{
    height:60%;
    width:80%;
    }
}
@media only screen and (min-width:300px) and (max-width:500px) 
{
    .homepage{
        min-height:1300px;
        display: flex;
        flex-direction: column;
    }
    .maindiv2{
        display: flex;
        flex-direction: column;
        width:100%;
        padding:20px;
        background-color: black;
    }
    .maindiv2 .div1,.maindiv2 .div2,.maindiv2 .div3{
    height:60%;
    width:80%;
    }
}