*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

body{
    min-height:100vh;
    background-color:black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#projects{
    height:100vh;
    width:100%;
}

.c1{
    font-size:40px;
} 
.ic1{
    margin-right:5px;
}

nav{
    height:50px;
    width:100%;
    background-color:black;
    display: flex;
    align-items: center;
    padding:30px;
}

.links-container{
    height:100%;
    width:100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav a{
    height:100%;
    padding:0 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color:white;
}


nav .tit{
    margin-right: auto;
    color: white;
}

nav .iii{
    color:white;
}

#sidebar-active{
    display: none;
}

.open-bar,.close-bar{
    display: none;
}

.homepage{
    min-height:490px;
    width:100%;
    background-color:black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.maindiv1>.tcs{
    text-decoration: underline;
    text-underline-offset:5px;
    color:white;
}


.maindiv1{
    height:10%;
    width:100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:transparent;
}
.maindiv2{
    height:90%;
    width:100%;
    display: flex;
    justify-content:space-around;
    align-items: center;
    background-color:black;
    padding:10px;
}

.proj{
    height:400px;
    width:25%;
    border-radius:20px;
    text-decoration: none;
}


.proj>.p1,.proj>.p2,.proj>.p3{
    height:100%;
    width:100%;
    border-radius:20px;
}
.proj>.p1:hover,.proj>.p2:hover,.proj>.p3:hover{
    box-shadow:0px 0px 30px 0px skyblue;
    transform:scale(1.05)
}

.proj>.p1,.proj>.p2,.proj>.p3{
    background-color:transparent;
}


.proj>.p1>.box1,.proj>.p2>.box1,.proj>.p3>.box1{
    height:85%;
    width:100%;
    background:linear-gradient(to right, #05295f, #00bf72);;
    border-top-left-radius:20px;
    border-top-right-radius:20px;
    padding:20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.proj>.p1>.box2,.proj>.p2>.box2,.proj>.p3>.box2{
    height:15%;
    width:100%;
    background:linear-gradient(to right, #05295f, #00bf72);;
    border-bottom-left-radius:20px;
    border-bottom-right-radius:20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    font-family:cursive;
    font-size:12px;
    padding:10px;
}

.sub{
    height:100%;
    width:100%;
    border-radius:20px;
    background-color:transparent;
}
.sub>.appimg{
    height:100%;
    width:100%;
    border-radius:20px;
}



@media only screen and (min-width:300px) and (max-width:720px) 
{
    .links-container{
        flex-direction: column;
        align-items: flex-start;
        position: fixed;
        top:0;
        right:-100%;
        z-index:10;
        width:300px;
        background-color:transparent;
        /* background-color:rgba(255, 255, 255, 0.418); */
        background-color: rgba(0, 0, 0, 0.742);
        box-shadow:-5px 0 5px rgba(0, 0, 0, 0.25);
        transition:0.75s ease-out;
        padding:20px;
    }   
    
    nav a{
        box-sizing: border-box;
        height:auto;
        width:100%;
        padding:20px 30px;
        border-radius:5px;
        justify-content:center;
        background-color: rgba(169, 169, 169, 0.758);
        color: black;
    }

    .open-bar,.close-bar
    {
    padding:20px;
    display:block;
}

    #sidebar-active:checked ~ .links-container{
        right:0;
    }

    #sidebar-active:checked ~ #overlay {
        height:100%;
        width:100%;
        position: fixed;
        top:0;
        left:0;
        z-index:9;
    }

    nav .tit{
        display: none;
}
    
}

@media only screen and (min-width:500px) and (max-width:800px) 
{
    .maindiv2{
        display: flex;
        flex-direction: column;
        width:100%;
        gap:10px;
        margin-bottom:10px;
    }
    .proj{
        height:100%;
        width:90%;
    }
    .proj>.p1:hover,.proj>.p2:hover,.proj>.p3:hover{
    box-shadow:0px 0px 30px 0px skyblue;
    transform:scale(1.05)
}

}

@media only screen and (min-width:300px) and (max-width:500px) 
{
    .maindiv2{
        display: flex;
        flex-direction: column;
        width:100%;
        gap:20px;
        margin-bottom:30px;
    }
    .proj{
        height:100%;
        width:90%;
    }
    .proj>.p1>.box2,.proj>.p2>.box2,.proj>.p3>.box2{
        font-size:12px;
    }
    .proj>.p1:hover,.proj>.p2:hover,.proj>.p3:hover{
    box-shadow:0px 0px 30px 0px skyblue;
    transform:scale(1.05)
}

}