*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

body{
    min-height:100vh;
    background-color:black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#skills{
    height:100vh;
    width:100%;
}

.c1{
    font-size:40px;
} 
.ic1{
    margin-right:5px;
}

nav{
    height:50px;
    width:100%;
    background-color:black;
    display: flex;
    align-items: center;
    padding:30px;
}

.links-container{
    height:100%;
    width:100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav a{
    height:100%;
    padding:0 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color:white;
}


nav .tit{
    margin-right: auto;
    color: white;
}

nav .iii{
    color:white;
}

#sidebar-active{
    display: none;
}

.open-bar,.close-bar{
    display: none;
}

.maindiv1>.tcs{
    text-decoration: underline;
    text-underline-offset:5px;
    color:white;
}

.homepage{
    height:490px;
    width:100%;
    background-color:black;
    display: flex;
    flex-direction: column;
}

.maindiv1{
    height:10%;
    width:100%;
    text-align: center;
    background-color:transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}
.maindiv2{
    height:90%;
    width:100%;
    display: flex;
    background-color:transparent;
}


.leftdiv{
    width:50%;
    height:100%;
    display: flex;
    justify-content:center;
    align-items: center;
    background-color:transparent;
    color: white;
}

.rightdiv{
    width:50%;
    height:100%;
    background-color:transparent;
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* .scrolldiv{
    width:100%;
    height:100%;
    background-color:transparent;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

.scroll{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height:70%;
    width:15%;
    border:0.1px solid white;
    color:white;
    border-radius:20px;
    padding:10px;
    background-color:black;
} */

.skills{
    height:100%;
    width:88%;
    background-color:transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    padding:10px;
}


.skills h4{
    letter-spacing: 1px;
    margin-bottom:7px;
}

.skills .progress-bar{
    margin-bottom:20px;
    height:10px;
    width:95%;
    border-radius:5px;
    background-color: gray;
}

.skills .progress-bar .html{
    height:10px;
    width:0%;
    border-radius:5px;
    background-color:white;
    box-shadow:5px 0px 10px 2px pink;
    display: flex;
    justify-content:flex-end;
    animation:html 1s linear forwards;
    animation-duration:3s;
    /* animation-iteration-count: infinite; */
}
.skills .progress-bar .css{
    height:10px;
    width:0%;
    border-radius:5px;
    background-color:white;
    box-shadow:5px 0px 10px 2px pink;
    display: flex;
    justify-content:flex-end;
    animation:css 1s linear forwards;
    animation-duration:3s;
    /* animation-iteration-count: infinite; */
}

.skills .progress-bar .javascript{
    height:10px;
    width:0%;
    border-radius:5px;
    background-color:white;
    box-shadow:5px 0px 10px 2px pink;
    display: flex;
    justify-content:flex-end;
    animation:javascript 1s linear forwards;
    animation-duration:3s;
    /* animation-iteration-count: infinite; */
}

.skills .progress-bar .bootstrap{
    height:10px;
    width:0%;
    border-radius:5px;
    background-color:white;
    box-shadow:5px 0px 10px 2px pink;
    display: flex;
    justify-content:flex-end;
    animation:bootstrap 1s linear forwards;
    animation-duration:3s;
    /* animation-iteration-count: infinite; */
}

.softskills .progress-bar .python{
    height:10px;
    width:0%;
    border-radius:5px;
    display: flex;
    justify-content:flex-end;
    animation:python 1s linear forwards;
    animation-duration:3s;
    background-color:white;
    box-shadow:5px 0px 10px 2px pink;
    /* animation-iteration-count: infinite; */
    /* background: linear-gradient(138deg, rgba(230, 242, 2, 0.96) 41%, rgba(14, 126, 237, 1) 54%, rgba(7, 57, 117, 1) 72%); */
}

.softskills .progress-bar .react{
    height:10px;
    width:0%;
    border-radius:5px;
    background-color:white;
    box-shadow:5px 0px 10px 2px pink;
    display: flex;
    justify-content:flex-end;
    animation:react 1s linear forwards;
    animation-duration:3s;
    /* animation-iteration-count: infinite; */
}

.softskills .progress-bar .django{
    height:10px;
    width:0%;
    border-radius:5px;
    background-color:white;
    box-shadow:5px 0px 10px 2px pink;
    display: flex;
    justify-content:flex-end;
    animation:react 1s linear forwards;
    animation-duration:3s;
    /* animation-iteration-count: infinite; */
}


.softskills .progress-bar .sql{
    height:10px;
    width:0%;
    border-radius:5px;
    background-color:white;
    box-shadow:5px 0px 10px 2px pink;
    display: flex;
    justify-content:flex-end;
    animation:sql 1s linear forwards;
    animation-duration:3s;
    /* animation-iteration-count: infinite; */
}

.skills .progress-bar .html span {
    display: flex;
    justify-content:center;
    height:35px;
    width:35px;
    border-radius:50%;
    border:1px solid pink;
    align-items: center;
    margin-top:-15px;
    background-color:white;
    color:black;
}

.skills .progress-bar .css span {
    display: flex;
    justify-content:center;
    height:35px;
    width:35px;
    border-radius:50%;
    border:1px solid pink;
    align-items: center;
    margin-top:-15px;
    background-color:white;
    color:black;
}

.skills .progress-bar .javascript span {
    display: flex;
    justify-content:center;
    height:35px;
    width:35px;
    border-radius:50%;
    border:1px solid pink;
    align-items: center;
    margin-top:-15px;
    background-color:white;
    color:black;
}

.skills .progress-bar .bootstrap span {
    display: flex;
    justify-content:center;
    height:35px;
    width:35px;
    border-radius:50%;
    border:1px solid pink;
    align-items: center;
    margin-top:-15px;
    background-color:white;
    color:black;
}


.softskills .progress-bar .django span {
    display: flex;
    justify-content:center;
    height:35px;
    width:35px;
    border-radius:50%;
    border:1px solid pink;
    align-items: center;
    margin-top:-15px;
    background-color:white;
    color:black;
}

.softskills .progress-bar .python span {
    display: flex;
    justify-content:center;
    height:35px;
    width:35px;
    border-radius:50%;
    background-color:white;
    border:1px solid pink;
    align-items: center;
    margin-top:-15px;
    /* border:1px solid rgba(230, 242, 2, 0.96) 41%, rgba(14, 126, 237, 1) 54%, rgba(7, 57, 117, 1) 72%; */
    /* background: linear-gradient(138deg, rgba(230, 242, 2, 0.96) 41%, rgba(14, 126, 237, 1) 54%, rgba(7, 57, 117, 1) 72%); */
    color:black;
}


.softskills .progress-bar .react span {
    display: flex;
    justify-content:center;
    height:35px;
    width:35px;
    border-radius:50%;
    border:1px solid pink;
    align-items: center;
    margin-top:-15px;
    background:white;
    color:black;
}


.softskills .progress-bar .sql span {
    display: flex;
    justify-content:center;
    height:35px;
    width:35px;
    border-radius:50%;
    border:1px solid pink;
    align-items: center;
    margin-top:-15px;
    background-color:white;
    color:black;
}

.ii1,.ii2{
    margin-right:5px;
}

.tools{
    border:1px solid aqua;
    height:120px;
    width:100%;
    display: flex;
    gap:10px;
}
.t1{
    height:100%;
    width:20%;
    background-color: brown;
    border-radius:10px;
}

.softskills{
    height:100%;
    width:88%;
    background-color:transparent;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:flex-start;
    padding:10px;
}

.softskills>.tcs{
    text-decoration: underline;
    text-underline-offset:5px;
}


.softskills h4{
    letter-spacing: 1px;
    margin-bottom:7px;
}

.softskills .progress-bar{
    margin-bottom:20px;
    height:10px;
    width:95%;
    border-radius:5px;
    background-color: gray;
}

.softskills .progress-bar .aaa{
    height:10px;
    width:0%;
    border-radius:5px;
    background-color:white;
    box-shadow:5px 0px 10px 2px pink;
    display: flex;
    justify-content:flex-end;
    animation:aaa 1s linear forwards;
    animation-duration:7s;
    /* animation-iteration-count: infinite; */
}
.softskills .progress-bar .www{
    height:10px;
    width:0%;
    border-radius:5px;
    background-color:white;
    box-shadow:5px 0px 10px 2px pink;
    display: flex;
    justify-content:flex-end;
    animation:www 1s linear forwards;
    animation-duration:7s;
    /* animation-iteration-count: infinite; */
}

.softskills .progress-bar .ccc{
    height:10px;
    width:0%;
    border-radius:5px;
    background-color:white;
    box-shadow:5px 0px 10px 2px pink;
    display: flex;
    justify-content:flex-end;
    animation:ccc 1s linear forwards;
    animation-duration:7s;
    /* animation-iteration-count: infinite; */
}

.softskills .progress-bar .ppp{
    height:10px;
    width:0%;
    border-radius:5px;
    background-color:white;
    box-shadow:5px 0px 10px 2px pink;
    display: flex;
    justify-content:flex-end;
    animation:ppp 1s linear forwards;
    animation-duration:7s;
    /* animation-iteration-count: infinite; */
}

@keyframes aaa{
    100%{
        width:100%;
    }
}
@keyframes www{
    100%{
        width:100%;
    }
}
@keyframes ccc{
    100%{
        width:100%;
    }
}
@keyframes ppp{
    100%{
        width:100%;
    }
}




@keyframes html{
    100%{
        width:90%;
    }
}
@keyframes css{
    100%{
        width:90%;
    }
}
@keyframes javascript{
    100%{
        width:80%;
    }
}
@keyframes bootstrap{
    100%{
        width:75%;
    }
}
@keyframes python{
    100%{
        width:90%;
    }
}
@keyframes react{
    100%{
        width:75%;
    }
}
@keyframes sql{
    100%{
        width:90%;
    }
}



@media only screen and (min-width:300px) and (max-width:720px) 
{
    .links-container{
        flex-direction: column;
        align-items: flex-start;
        position: fixed;
        top:0;
        right:-100%;
        z-index:10;
        width:300px;
        background-color:transparent;
        /* background-color:rgba(255, 255, 255, 0.418); */
        background-color: rgba(0, 0, 0, 0.742);
        box-shadow:-5px 0 5px rgba(0, 0, 0, 0.25);
        transition:0.75s ease-out;
        padding:20px;
    }   
    
    nav a{
        box-sizing: border-box;
        height:auto;
        width:100%;
        padding:20px 30px;
        border-radius:5px;
        justify-content:center;
        background-color: rgba(169, 169, 169, 0.758);
        color: black;
    }

    .open-bar,.close-bar
    {
    padding:20px;
    display:block;
}

    #sidebar-active:checked ~ .links-container{
        right:0;
    }

    #sidebar-active:checked ~ #overlay {
        height:100%;
        width:100%;
        position: fixed;
        top:0;
        left:0;
        z-index:9;
    }

    nav .tit{
        display: none;
}
    
}


@media only screen and (min-width:600px) and (max-width:800px) 
{

    .homepage
    {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .maindiv2{
        display: flex;
        flex-direction: column;
        padding:30px;
    }

    .leftdiv{
        width:100%;
    }
    .rightdiv{
        width:100%;
    }
    .skills{
        width:100%;
    }
    .softskills{
        width:100%;
    }
    
/* .scrolldiv{
    width:100%;
    height:100%;
    background-color:transparent;
}

.scroll{
    height:50%;
    width:30%;
    padding:10px;
} */


}

@media only screen and (min-width:300px) and (max-width:600px) 
{

    .homepage
    {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .maindiv2{
        display: flex;
        flex-direction: column;
        padding:20px;
    }

    .leftdiv{
        width:100%;
    }
    .rightdiv{
        width:100%;
    }
    .skills{
        width:100%;
    }
    .softskills{
        width:100%;
    }
    
/* .scrolldiv{
    width:100%;
    height:100%;
    background-color:gold;
}

.scroll{
    height:50%;
    width:30%;
    padding:20px;
} */


}












